<link rel="stylesheet" href="/plugins/rcswitch/styles.css">

<script type="text/javascript">

// DIP Switch for Elro
function addEvent( obj, type, fn )
{
   if (obj.addEventListener) {
      obj.addEventListener( type, fn, false );
   } else if (obj.attachEvent) {
      obj["e"+type+fn] = fn;
      obj[type+fn] = function() { obj["e"+type+fn]( window.event ); }
      obj.attachEvent( "on"+type, obj[type+fn] );
   }
}
function removeEvent( obj, type, fn )
{
   if (obj.removeEventListener) {
      obj.removeEventListener( type, fn, false );
   } else if (obj.detachEvent) {
      obj.detachEvent( "on"+type, obj[type+fn] );
      obj[type+fn] = null;
      obj["e"+type+fn] = null;
   }
}
function init () 
{
	var sw=document.getElementsByName('sw[]');
	for (var i=0;i<sw.length;i++) {
		addEvent( sw[i], 'click', clickSW);
	}
}
function clickSW() {
	var input=this.children[0];
	if (this.className == 'off') {
		this.className = 'on';
		input.value = "1";
	} else {
		this.className = 'off';
		input.value = "0";
	}
}
init();

</script>

<p>
Bitte lese Dir die Dokumentation unter <a href="http://www.loxwiki.eu:80/x/JATL" target="_blank">http://www.loxwiki.eu:80/x/JATL</a> durch, um zu erfahren wie Du aus Loxone heraus Deine Funksteckdosen schalten kannst.
</p>

<p>
&nbsp;
</p>

<hr>

<p>
&nbsp;
</p>

<center><h3>Einstellungen</h3></center>

<form method="post" data-ajax="false" name="main_form0" id="main_form0" action="./index.cgi">
<input type="hidden" name="savesettings" id="savesettings" value="1">
<p>
<table class="formtable" border=0 width="100%">
<tr>
<td width="25%">
<label>PIN-Anschluss 433Mhz Sender:</label>
</td>
<td width="40%">
<div class="ui-field-contain">
  <select name="gpiopin" id="gpiopin">
  <option value="7" <!--$selectedpin4-->>GPIO Pin 4</option>
  <option value="0" <!--$selectedpin17-->>GPIO Pin 17</option>
  <option value="1" <!--$selectedpin18-->>GPIO Pin 18</option>
  <option value="3" <!--$selectedpin22-->>GPIO Pin 22</option>
  <option value="4" <!--$selectedpin23-->>GPIO Pin 23</option>
  <option value="5" <!--$selectedpin24-->>GPIO Pin 24</option>
  <option value="6" <!--$selectedpin25-->>GPIO Pin 25</option>
  </select>
</div>
</td>
<td width="5%">
&nbsp;
</td>
<td width="30%">
<font size="-1">GPIO-Pin, an dem Pin 1 (ATAD, Daten) des 433Mhz Senders angeschlossen ist. Pinbelegung <a href="https://www.raspberrypi.org/documentation/usage/gpio/README.md" target=_blank">RaspPi1</a> und <a href="https://www.raspberrypi.org/documentation/usage/gpio-plus-and-raspi2/README.md" target=_blank">RaspPi2+3</a>.</font>
</td>
</tr>
<tr>
<td width="25%">
<label>Pilight-Daemon starten:</label>
</td>
<td width="40%">
<select name="pilightd" id="pilightd" data-mini="true" data-track-theme="e" data-role="slider">
<option value="0" <!--$selectedpilightd0-->>Nein</option>
<option value="1" <!--$selectedpilightd1-->>Ja</option>
</select>
</td>
<td width="5%">
&nbsp;
</td>
<td width="30%">
<font size="-1">Wenn die Steckdosen per Pilight angesteuert werden sollen, muss der Daemon beim Systemstart gestartet werden. Wenn ausschließlich RCSwitch genutzt wird, ist der Daemon nicht notwendig und kann deaktiviert werden.</font>
</td>
</tr>
<tr>
<td colspan=4 align=center>
<center>
<button type="submit" form="main_form0" name="btnsubmit0" id="btnsubmit0" data-role="button" data-inline="true" data-mini="true" data-icon="check">Speichern</button>
</center>
</td>
</tr>
</table>
</center>
</p>
</form>

<p>
&nbsp;
</p>

<hr>

<p>
&nbsp;
</p>

<center><h3>Hilfsassistent: Befehle für LoxoneConfig ermitteln</h3></center>

<p>
Im folgenden kannst Du anhand der Einstellungen an Deiner Funksteckdose die korrekten Parameter für die Ein- und Ausschaltbefehle 
für die ermitteln.
</p>

<p>
Das Plugin bietet zwei Verfahren die Steckdosen anzusprechen: RCSwitch und <a href="https://www.pilight.org/" target="_blank">Pilight</a>. Hierbei
handelt es sich um zwei unterschiedliche Softwarelösungen. Wenn Deine Steckdosen unterstützt werden, empfehlen wir RCSwitch zu verwenden. Dieses
ist eine sehr stabile Softwarelösung, unterstützt aber nur Elro- und Intertechnosteckdosen sowie kompatible Systeme. Pilight unterstützt eine sehr
große Anzahl an weiteren Systemen, ist aber auf Grund des Aufbaus als Serversystem mit einem notwendigen laufenden Daemon eventuell etwas fehleranfälliger.
</p>

<div class="ui-corner-all custom-corners">
<div class="ui-bar ui-bar-a">
  <h2>RCSWITCH: Elro Funksteckdosen und kompatible</h2>
</div>
<div class="ui-body ui-body-a">

<form method="post" data-ajax="false" name="main_form1" id="main_form1" action="./index.cgi">
<input type="hidden" name="type" id="type" value="elro">
<table border=0 cellpadding=10 width="100%">
<tr>
<td>
<img src="/plugins/rcswitch/elro.jpg" alt="Elro"><br>
<font size="-1">oder selbstlernende Steckdosen.</font>
</td>
<td>
<div class="switch">
	<div class="titles"><span class="title_left">ON</span><span class="title_right">DIP</span></div>
	<div class="dip_bar">
	<span class="dip"><div class="<!--$statusb0-->" name="sw[]" id="sw0"><input type="hidden" name="b[0]" id="b0" value="<!--$valueb0-->"></div><span class="desc">1</span></span>
	<span class="dip"><div class="<!--$statusb1-->" name="sw[]" id="sw1"><input type="hidden" name="b[1]" id="b1" value="<!--$valueb1-->"></div><span class="desc">2</span></span>
	<span class="dip"><div class="<!--$statusb2-->" name="sw[]" id="sw2"><input type="hidden" name="b[2]" id="b2" value="<!--$valueb2-->"></div><span class="desc">3</span></span>
	<span class="dip"><div class="<!--$statusb3-->" name="sw[]" id="sw3"><input type="hidden" name="b[3]" id="b3" value="<!--$valueb3-->"></div><span class="desc">4</span></span>
	<span class="dip"><div class="<!--$statusb4-->" name="sw[]" id="sw4"><input type="hidden" name="b[4]" id="b4" value="<!--$valueb4-->"></div><span class="desc">5</span></span>
	<span class="dip"><div class="<!--$statusb5-->" name="sw[]" id="sw5"><input type="hidden" name="b[5]" id="b5" value="<!--$valueb5-->"></div><span class="desc">A</span></span>
	<span class="dip"><div class="<!--$statusb6-->" name="sw[]" id="sw6"><input type="hidden" name="b[6]" id="b6" value="<!--$valueb6-->"></div><span class="desc">B</span></span>
	<span class="dip"><div class="<!--$statusb7-->" name="sw[]" id="sw7"><input type="hidden" name="b[7]" id="b7" value="<!--$valueb7-->"></div><span class="desc">C</span></span>
	<span class="dip"><div class="<!--$statusb8-->" name="sw[]" id="sw8"><input type="hidden" name="b[8]" id="b8" value="<!--$valueb8-->"></div><span class="desc">D</span></span>
	<span class="dip"><div class="<!--$statusb9-->" name="sw[]" id="sw9"><input type="hidden" name="b[9]" id="b9" value="<!--$valueb9-->"></div><span class="desc">E</span></span>
	</div>
</div>
</td>
<td>
<div class="buttons"><input class="button" type="submit" form="main_form1" name="btnsubmit1" id="btnsubmit1" value="Befehle erzeugen" /></div>
</td>
</tr>
<tr>
<td colspan=3>
<table border=0 cellspacing=10 width="100%">
<tr>
<td width="20%"><b>Adresse:</b></td>
<td colspan=2><pre>http://<!--$loginname-->:DEIN-LOXBERRY-PASSWORT@<!--$host--></pre></td>
<tr>
<td width="20%"><b>Befehl bei EIN:</b></td>
<td width="70%"><pre>/admin/plugins/<!--$psubfolder-->/rcswitch.cgi<font color="red">?protocol=</font><font color="blue">elro</font><font color="red">&amp;group=</font><font color="blue"><!--$group1--></font><font color="red">&amp;unit=</font><font color="blue"><!--$unit1--></font><font color="red">&amp;command=</font><font color="blue">on</font></pre></td>
<td width="10%"> <a id="btnteston" data-role="button" data-inline="true" data-mini="true" href="http://<!--$host-->/admin/plugins/<!--$psubfolder-->/rcswitch.cgi?protocol=elro&group=<!--$group1-->&unit=<!--$unit1-->&command=on" target="_blank">Test / Lernen</a> </td>
</tr>
<tr>
<td><b>Befehl bei AUS:</b></td>
<td><pre>/admin/plugins/<!--$psubfolder-->/rcswitch.cgi<font color="red">?protocol=</font><font color="blue">elro</font><font color="red">&amp;group=</font><font color="blue"><!--$group1--></font><font color="red">&amp;unit=</font><font color="blue"><!--$unit1--></font><font color="red">&amp;command=</font><font color="blue">off</font></pre></td>
<td width="10%"> <a id="btnteston" data-role="button" data-inline="true" data-mini="true" href="http://<!--$host-->/admin/plugins/<!--$psubfolder-->/rcswitch.cgi?protocol=elro&group=<!--$group1-->&unit=<!--$unit1-->&command=off" target="_blank">Test</a> </td>
</tr>
</table>
</td>
</tr>
</table>
</form>

</div>
</div>

<br><br>

<div class="ui-corner-all custom-corners">
<div class="ui-bar ui-bar-a">
  <h2>RCSWITCH: Intertechno Funksteckdosen und kompatible - ALTES Protokoll</h2>
</div>
<div class="ui-body ui-body-a">

<form method="post" data-ajax="false" name="main_form2" id="main_form2" action="./index.cgi">
<input type="hidden" name="type" id="type" value="arctechv1">
<table border=0 cellpadding=10 width="100%">
<tr>
<td>
<img src="/plugins/rcswitch/intertechno.jpg" alt="Intertechno"><br>
<font size="-1">oder selbstlernende Steckdosen, <br> Fernbedienung <i>mit</i> DIP- oder <br>Drehschalter.</font>

</td>
<td>
<table border=0 cellspacing=10>
<tr>
<td>
<font size="-1">Gruppe:</font>
</td>
<td>
<div class="ui-field-contain">
  <select name="familyarcv1" id="familyarcv1">
  <option value="A" <!--$selectedarcv1A-->>A</option>
  <option value="B" <!--$selectedarcv1B-->>B</option>
  <option value="C" <!--$selectedarcv1C-->>C</option>
  <option value="D" <!--$selectedarcv1D-->>D</option>
  <option value="E" <!--$selectedarcv1E-->>E</option>
  <option value="F" <!--$selectedarcv1F-->>F</option>
  <option value="G" <!--$selectedarcv1G-->>G</option>
  <option value="H" <!--$selectedarcv1H-->>H</option>
  <option value="I" <!--$selectedarcv1I-->>I</option>
  <option value="J" <!--$selectedarcv1J-->>J</option>
  <option value="K" <!--$selectedarcv1K-->>K</option>
  <option value="L" <!--$selectedarcv1L-->>L</option>
  <option value="M" <!--$selectedarcv1M-->>M</option>
  <option value="N" <!--$selectedarcv1N-->>N</option>
  <option value="O" <!--$selectedarcv1O-->>O</option>
  <option value="P" <!--$selectedarcv1P-->>P</option>
  </select>
</div>
</td>
<td>
<font size="-1">Gerät:</font>
</td>
<td>
<div class="ui-field-contain">
  <select name="unitarcv1" id="unitarcv1">
  <option value="1" <!--$selectedarcv11-->>1</option>
  <option value="2" <!--$selectedarcv12-->>2</option>
  <option value="3" <!--$selectedarcv13-->>3</option>
  <option value="4" <!--$selectedarcv14-->>4</option>
  <option value="5" <!--$selectedarcv15-->>5</option>
  <option value="6" <!--$selectedarcv16-->>6</option>
  <option value="7" <!--$selectedarcv17-->>7</option>
  <option value="8" <!--$selectedarcv18-->>8</option>
  <option value="9" <!--$selectedarcv19-->>9</option>
  <option value="10" <!--$selectedarcv110-->>10</option>
  <option value="11" <!--$selectedarcv111-->>11</option>
  <option value="12" <!--$selectedarcv112-->>12</option>
  <option value="13" <!--$selectedarcv113-->>13</option>
  <option value="14" <!--$selectedarcv114-->>14</option>
  <option value="15" <!--$selectedarcv115-->>15</option>
  <option value="16" <!--$selectedarcv116-->>16</option>
  </select>
</div>
</td>
</tr>
</table>
</td>
<td>
<div class="buttons"><input class="button" type="submit" form="main_form2" name="btnsubmit2" id="btnsubmit2" value="Befehle erzeugen" /></div>
</td>
</tr>
<tr>
<td colspan=3>
<table border=0 cellspacing=10 width="100%">
<tr>
<td width="20%"><b>Adresse:</b></td>
<td colspan=2><pre>http://<!--$loginname-->:DEIN-LOXBERRY-PASSWORT@<!--$host--></pre></td>
<tr>
<td width="20%"><b>Befehl bei EIN:</b></td>
<td width="70%"><pre>/admin/plugins/<!--$psubfolder-->/rcswitch.cgi<font color="red">?protocol=</font><font color="blue">arctechv1</font><font color="red">&amp;family=</font><font color="blue"><!--$family2--><font color="red">&amp;group=</font><font color="blue"><!--$group2--></font><font color="red">&amp;unit=</font><font color="blue"><!--$unit2--></font><font color="red">&amp;command=</font><font color="blue">on</font></pre></td>
<td width="10%"> <a id="btnteston" data-role="button" data-inline="true" data-mini="true" href="http://<!--$host-->/admin/plugins/<!--$psubfolder-->/rcswitch.cgi?protocol=arctechv1&family=<!--$family2-->&group=<!--$group2-->&unit=<!--$unit2-->&command=on" target="_blank">Test / Lernen</a> </td>
</tr>
<tr>
<td><b>Befehl bei AUS:</b></td>
<td><pre>/admin/plugins/<!--$psubfolder-->/rcswitch.cgi<font color="red">?protocol=</font><font color="blue">arctechv1</font><font color="red">&amp;family=</font><font color="blue"><!--$family2--><font color="red">&amp;group=</font><font color="blue"><!--$group2--></font><font color="red">&amp;unit=</font><font color="blue"><!--$unit2--></font><font color="red">&amp;command=</font><font color="blue">off</font></pre></td>
<td width="10%"> <a id="btnteston" data-role="button" data-inline="true" data-mini="true" href="http://<!--$host-->/admin/plugins/<!--$psubfolder-->/rcswitch.cgi?protocol=arctechv1&family=<!--$family2-->&group=<!--$group2-->&unit=<!--$unit2-->&command=off" target="_blank">Test</a> </td>
</tr>
</table>
</td>
</tr>
</table>
</form>

</div>
</div>

<br><br>

<div class="ui-corner-all custom-corners">
<div class="ui-bar ui-bar-a">
  <h2>RCSWITCH: Intertechno Funksteckdosen und kompatible - NEUES Protokoll</h2>
</div>
<div class="ui-body ui-body-a">

<form method="post" data-ajax="false" name="main_form3" id="main_form3" action="./index.cgi">
<input type="hidden" name="type" id="type" value="arctechv2">
<table border=0 cellpadding=10 width="100%">
<tr>
<td>
<font size="-1">Selbstlernende Steckdosen, <br> Fernbedienung <i>ohne</i> DIP- oder <br> Drehschalter.</font>
</td>
<td>
<table border=0 cellspacing=10>
<tr>
<td>
<font size="-1">Gruppe ID:</font>
</td>
<td>
  <table><tr>
  <td><input type="text" maxlength="8" size="8"  name="grouparcv2" id="grouparcv2" value="<!--$group3-->"></td>
  <td><a href="#" id="btnrand" data-role="button" data-inline="true" data-mini="true" data-icon="refresh" data-iconpos="notext"></a></td>
  </tr></table>
</td>
<td>
<font size="-1">Gerät:</font>
</td>
<td>
<div class="ui-field-contain">
  <select name="unitarcv2" id="unitarcv2">
  <option value="0" <!--$selectedarcv20-->>0</option>
  <option value="1" <!--$selectedarcv21-->>1</option>
  <option value="2" <!--$selectedarcv22-->>2</option>
  <option value="3" <!--$selectedarcv23-->>3</option>
  <option value="4" <!--$selectedarcv24-->>4</option>
  <option value="5" <!--$selectedarcv25-->>5</option>
  <option value="6" <!--$selectedarcv26-->>6</option>
  <option value="7" <!--$selectedarcv27-->>7</option>
  <option value="8" <!--$selectedarcv28-->>8</option>
  <option value="9" <!--$selectedarcv29-->>9</option>
  <option value="10" <!--$selectedarcv210-->>10</option>
  <option value="11" <!--$selectedarcv211-->>11</option>
  <option value="12" <!--$selectedarcv212-->>12</option>
  <option value="13" <!--$selectedarcv213-->>13</option>
  <option value="14" <!--$selectedarcv214-->>14</option>
  <option value="15" <!--$selectedarcv215-->>15</option>
  </select>
</div>
</td>
<td>
<font size="-1">Gruppe schalten:</font>
</td>
<td>
<select name="allarcv2" id="allarcv2" data-mini="true" data-track-theme="e" data-role="slider">
<option value="0" <!--$selectedarcv2all0-->>Nein</option>
<option value="1" <!--$selectedarcv2all1-->>Ja</option>
</select>
</tr>
</table>
</td>
<td>
<div class="buttons"><input class="button" type="submit" form="main_form3" name="btnsubmit3" id="btnsubmit3" value="Befehle erzeugen" /></div>
</td>
</tr>
<tr>
<td colspan=3>
<table border=0 cellspacing=10 width="100%">
<tr>
<td width="20%"><b>Adresse:</b></td>
<td colspan=2><pre>http://<!--$loginname-->:DEIN-LOXBERRY-PASSWORT@<!--$host--></pre></td>
<tr>
<td width="20%"><b>Befehl bei EIN:</b></td>
<td width="70%"><pre>/admin/plugins/<!--$psubfolder-->/rcswitch.cgi<font color="red">?protocol=</font><font color="blue">arctechv2</font><font color="red">&amp;all=</font><font color="blue"><!--$all3--><font color="red">&amp;group=</font><font color="blue"><!--$group3--></font><font color="red">&amp;unit=</font><font color="blue"><!--$unit3--></font><font color="red">&amp;command=</font><font color="blue">on</font></pre></td>
<td width="10%"><a id="btnteston" data-role="button" data-inline="true" data-mini="true" href="http://<!--$host-->/admin/plugins/<!--$psubfolder-->/rcswitch.cgi?protocol=arctechv2&all=<!--$all3-->&group=<!--$group3-->&unit=<!--$unit3-->&command=on" target="_blank">Test / Lernen</a>
</tr>
<tr>
<td><b>Befehl bei AUS:</b></td>
<td><pre>/admin/plugins/<!--$psubfolder-->/rcswitch.cgi<font color="red">?protocol=</font><font color="blue">arctechv2</font><font color="red">&amp;all=</font><font color="blue"><!--$all3--><font color="red">&amp;group=</font><font color="blue"><!--$group3--></font><font color="red">&amp;unit=</font><font color="blue"><!--$unit3--></font><font color="red">&amp;command=</font><font color="blue">off</font></pre></td>
<td width="10%"> <a id="btnteston" data-role="button" data-inline="true" data-mini="true" href="http://<!--$host-->/admin/plugins/<!--$psubfolder-->/rcswitch.cgi?protocol=arctechv2&all=<!--$all3-->&group=<!--$group3-->&unit=<!--$unit3-->&command=off" target="_blank">Test</a> </td>
</tr>
</table>
</td>
</tr>
</table>
</form>

<script type="text/javascript">

// Randonized Group ID
$(document).ready(function() {   
    $('#btnrand').click(function() {   
    //var num = Math.floor(1 + (Math.random() * Math.pow(10, gRandLength)));
    var num = Math.floor(Math.random() * (67108863)) + 1;
    $('#grouparcv2').val(num);
    });
});

</script>

</div>
</div>

<br><br>

<div class="ui-corner-all custom-corners">
<div class="ui-bar ui-bar-a">
  <h2>PILIGHT: Zahlreiche verschiedene Funksteckdosen-Systeme</h2>
</div>
<div class="ui-body ui-body-a">

<form method="post" data-ajax="false" name="main_form4" id="main_form4" action="./index.cgi">
<input type="hidden" name="type" id="type" value="pilight">
<table border=0 cellpadding=10 width="100%">
<tr>
<td width="20%">
<font size="-1"><a href="https://wiki.pilight.org/doku.php/protocols#switches" target="_blank">Zahlreiche Steckdosensysteme mit 
unterschiedlichen Funk-Protokollen</a></font>
</td>
<td>
<table border=0 cellspacing=10>
<tr>
<td>
<font size="-1">Protokoll:</font>
</td>
<td>
  <select name="protocolpl" id="protocolpl">
  <option value="beamish_switch" <!--$selectedbeamish_switch--> >Beamish Switches</option>
  <option value="brennenstuhl" <!--$selectedbrennenstuhl--> >Brennenstuhl Comfort</option>
  <option value="byebyestandby" <!--$selectedbyebyestandby--> >Bye Bye Standby Switches</option>
  <option value="clarus_switch" <!--$selectedclarus_switch--> >Clarus Switches</option>
  <option value="cleverwatts" <!--$selectedcleverwatts--> >Cleverwatts Switches</option>
  <option value="coco_switch" <!--$selectedcoco_switch--> >CoCo Technologies Switches</option>
  <option value="cogex" <!--$selectedcogex--> >Cogex Switches</option>
  <option value="conrad_rsl_switch" <!--$selectedconrad_rsl_switch--> >Conrad RSL Switches</option>
  <option value="daycom" <!--$selecteddaycom--> >Daycom switches</option>
  <option value="dio_screen" <!--$selecteddio_screen--> >DI-O Screens</option>
  <option value="dio_switch" <!--$selecteddio_switch-->>D-IO Switches</option>
  <option value="duwi" <!--$selectedduwi-->>Düwi Terminal Switches</option>
  <option value="ehome" <!--$selectedehome-->>eHome Switches</option>
  <option value="elro_300_switch" <!--$selectedelro_300_switch-->>Elro 300 Series Switches</option>
  <option value="elro_400_switch" <!--$selectedelro_400_switch-->>Elro 400 Series Switches</option>
  <option value="elro_800_switch" <!--$selectedelro_800_switch-->>Elro 800 series Switches</option>
  <option value="eurodomest" <!--$selectedeurodomest-->>Eurodomest Switches</option>
  <option value="generic_dimmer" <!--$selectedgeneric_dimmer-->>Generic Dimmers</option>
  <option value="generic_label" <!--$selectedgeneric_label-->>Generic Label</option>
  <option value="generic_screen" <!--$selectedgeneric_screen-->>Generic Screens</option>
  <option value="generic_switch" <!--$selectedgeneric_switch-->>Generic Switches</option>
  <option value="generic_weather" <!--$selectedgeneric_weather-->>Generic Weather Stations</option>
  <option value="heitech" <!--$selectedheitech-->>Heitech series Switches</option>
  <option value="impuls" <!--$selectedimpuls-->>Impuls Switches</option>
  <option value="intertechno_old" <!--$selectedintertechno_old-->>Old Intertechno Switches</option>
  <option value="intertechno_switch" <!--$selectedintertechno_switch-->>Intertechno Switches</option>
  <option value="kaku_dimmer" <!--$selectedkaku_dimmer-->>KlikAanKlikUit Dimmers</option>
  <option value="kaku_screen" <!--$selectedkaku_screen-->>KlikAanKlikUit Screens</option>
  <option value="kaku_screen_old" <!--$selectedkaku_screen_old-->>Old KlikAanKlikUit Screens</option>
  <option value="kaku_switch" <!--$selectedkaku_switch-->>KlikAanKlikUit Switches</option>
  <option value="kaku_switch_old" <!--$selectedkaku_switch_old-->>Old KlikAanKlikUit Switches</option>
  <option value="logilink_switch" <!--$selectedlogilink_switch-->>Logilink Switches</option>
  <option value="mumbi" <!--$selectedmumbi-->>Mumbi Switches</option>
  <option value="nexa_switch" <!--$selectednexa_switch-->>Nexa Switches</option>
  <option value="openweathermap" <!--$selectedopenweathermap-->>Open Weather Map API</option>
  <option value="pollin" <!--$selectedpollin-->>Pollin Switches</option>
  <option value="program" <!--$selectedprogram-->>Start / Stop / State of a program</option>
  <option value="promax" <!--$selectedpromax-->>Pro MAX Switches</option>
  <option value="quigg_gt1000" <!--$selectedquigg_gt1000-->>Quigg GT-1000 protocol</option>
  <option value="quigg_gt7000" <!--$selectedquigg_gt7000-->>Quigg GT-7000 Switches</option>
  <option value="quigg_screen" <!--$selectedquigg_screen-->>Quigg Switch Screen</option>
  <option value="raw" <!--$selectedraw-->>Raw Codes</option>
  <option value="rc101" <!--$selectedrc101-->>rc101 Switches</option>
  <option value="rc102" <!--$selectedrc102-->>rc102 Switches</option>
  <option value="relay" <!--$selectedrelay-->>GPIO Connected Relays</option>
  <option value="rsl366" <!--$selectedrsl366-->>RSL366 Switches</option>
  <option value="selectremote" <!--$selectedselectremote-->>SelectRemote Switches</option>
  <option value="silvercrest" <!--$selectedsilvercrest-->>Silvercrest Switches</option> 
  <option value="techlico_switch" <!--$selectedtechlico_switch-->>TechLiCo Lamp</option>
  <option value="wunderground" <!--$selectedwunderground-->>Weather Underground API</option>
  <option value="x10" <!--$selectedx10-->>x10 based devices</option>
  </select>
</td>
<td>
<font size="-1">Gruppe schalten:</font>
</td>
<td>
<select name="allpl" id="allpl" data-mini="true" data-track-theme="e" data-role="slider">
<option value="0" <!--$selectedallpl0-->>Nein</option>
<option value="1" <!--$selectedallpl1-->>Ja</option>
</select>
</td>
</tr>
</table>
<table border=0 cellspacing=10>
<tr>
<td>
<font size="-1">ID:</font>
</td>
<td>
<input type="text" maxlength="8" size="8"  name="idpl" id="idpl" value="<!--$idpl-->">
</td>
<td>
<font size="-1">Systemcode:</font>
</td>
<td>
<input type="text" maxlength="8" size="8"  name="systemcodepl" id="systemcodepl" value="<!--$systemcodepl-->">
</td>
<td>
<font size="-1">Gerät:</font>
</td>
<td>
<input type="text" size="5"  name="unitpl" id="unitpl" value="<!--$unitpl-->">
</td>
</tr>
</table>
</td>
<td>
<div class="buttons"><input class="button" type="submit" form="main_form4" name="btnsubmit4" id="btnsubmit4" value="Befehle erzeugen" /></div>
</td>
</tr>
<tr>
<td colspan=3>
<table border=0 cellspacing=10 width="100%">
<tr>
<td width="20%"><b>Adresse:</b></td>
<td colspan=2><pre>http://<!--$loginname-->:DEIN-LOXBERRY-PASSWORT@<!--$host--></pre></td>
<tr>
<td width="20%"><b>Befehl bei EIN:</b></td>
<td width="70%"><pre>/admin/plugins/<!--$psubfolder-->/pilight.cgi<font color="red">?protocol=</font><font color="blue"><!--$protocolpl--></font><font color="red">&amp;all=</font><font color="blue"><!--$allpl--><font color="red">&amp;id=</font><font color="blue"><!--$idpl--></font><font color="red">&amp;systemcode=</font><font color="blue"><!--$systemcodepl--></font><font color="red">&amp;unit=</font><font color="blue"><!--$unitpl--></font><font color="red">&amp;command=</font><font color="blue">on</font></pre></td>
<td width="10%"><a id="btnteston" data-role="button" data-inline="true" data-mini="true" href="http://<!--$host-->/admin/plugins/<!--$psubfolder-->/pilight.cgi?protocol=<!--$protocolpl-->&all=<!--$allpl-->&id=<!--$idpl-->&systemcode=<!--$systemcodepl-->&unit=<!--$unitpl-->&command=on" target="_blank">Test / Lernen</a>
</tr>
<tr>
<td><b>Befehl bei AUS:</b></td>
<td width="70%"><pre>/admin/plugins/<!--$psubfolder-->/pilight.cgi<font color="red">?protocol=</font><font color="blue"><!--$protocolpl--></font><font color="red">&amp;all=</font><font color="blue"><!--$allpl--><font color="red">&amp;id=</font><font color="blue"><!--$idpl--></font><font color="red">&amp;systemcode=</font><font color="blue"><!--$systemcodepl--></font><font color="red">&amp;unit=</font><font color="blue"><!--$unitpl--></font><font color="red">&amp;command=</font><font color="blue">off</font></pre></td>
<td width="10%"><a id="btnteston" data-role="button" data-inline="true" data-mini="true" href="http://<!--$host-->/admin/plugins/<!--$psubfolder-->/pilight.cgi?protocol=<!--$protocolpl-->&all=<!--$allpl-->&id=<!--$idpl-->&systemcode=<!--$systemcodepl-->&unit=<!--$unitpl-->&command=off" target="_blank">Test</a>
</tr>
</table>
</td>
</tr>
</table>
</form>

</div>
</div>
